{% include "header.html" %}
<header
  class="masthead"
  style="background-image: url('../static/assets/img/home-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-8">
        <div class="site-heading">
          <h1>Musaif's Portfolio</h1>

        </div>
      </div>
    </div>
  </div>

</header>

<div class="container-fluid py-1 ">
   <div class="container shadow-lg p-2 mb-5 bg-body-secondary rounded-3  ">
      <div class="container-fluid py-2">
        <h1 class="display-5 fw-bold">About Me</h1>
        <p class="col-md-10 col-lg-8 col-xl-7 fs-4">I am Musaif Bangi, 21 years old pursing my Masters in IMCA.
                                I live in Pune ,India.
                                I love reading books,maths,coding and building projects mainly in Python.
                                Currently, learning DSA in C++ and Java.
                    </p>

    </div>

</div>
<div class="container-fluid py-4 bg-body-secondary">
  <div class="row align-items-md-stretch m-1 p-2 ">
      <div class="col-md-6">
        <div class="h-100 p-2 text-bg-dark rounded-3">
          <h2>Skills</h2>
          <ul  class="p-3">
            <li><b>Programming language: </b>  Python,C,C++,Java</li>
            <li><b>Frontend: </b>  HTML,CSS, Bootstrap</li>
            <li><b>Database: </b>  Postgres SQL</li>
            <li><b>Mathematics:</b>  Statistical Analysis,Group Theory, Linear Algebra</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class=" p-2 bg-body-tertiary border rounded-3">
          <h2>Education</h2>
           <ul  class="p-3">
            <li> <b> Graduated : </b>B.Sc major Mathematics  </li>
            <li><b> Under Post Graduation: </b> IMCA (Industrial Mathematics with Computer application) </li>
               <li><b>Achievement: </b> Angela Yu <i>100 Days</i> Python Boot camp</li>
          </ul>
        </div>
      </div>
  </div>
</div>

<!--Projects-->
<div class="album py-5 bg-body-tertiary">
    <div class="container">
       <h1 class="display-5 fw-bold p-5">Projects</h1>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for i in range(1,4)%}
      <div class="col">
          <div class="card shadow-sm">
              <img class="bd-placeholder-img card-img-top" src="{{ url_for('static', filename='assets/card_img/'+ proj[i].img) }}" width="100%" height="225"/>

            <div class="card-body">
              <h3>{{proj[i].title}}</h3>
              <p class="card-text">{{proj[i].content}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{{url_for('project',num=i)}}" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}

      </div>
       <div class="p-5 row justify-content-center">
          <div class="col-2">
            <a href="{{url_for('all_projects')}}" type="button" class="btn btn-lg btn-primary ">All Projects</a>
          </div>
       </div>
    </div>
</div>
</div>
{% include "footer.html" %}
